* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.container {
    max-width: 1200px;
    margin-top: 0 auto;
}

.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2)),
        url(../pictures/bg.jpg);
    padding: 10px 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    min-height: 70vh;
}

nav .amarillo {
    font-style: normal;
    color: #f5a425;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 80px;
    padding-left: 60px;
}

.dark-mode header {
    background-color: #333;
}

.menu {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #000;
    font-size: 25px;
    font-weight: 800;
}

.menu .navbar ul li {
    text-align: center;
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    text-align: center;
    font-size: 18px;
    padding: 20px;
    color: #fff;
    display: block;
    font-weight: 600;
}

#menu {
    text-align: center;
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    text-align: center;
    cursor: pointer;
    display: none;
}

.submenu {
    text-align: center;
    position: relative;
}

.submenu #carrito {
    text-align: center;
    display: none;
}

.submenu:hover #carrito {
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter: blur(10px);
    top: 100%;
    z-index: 1;
    background-color: #817d7d;
    padding: 20px;
    min-width: 400px;
}

table {
    width: 100px;
}

th,
td {
    color: #fff;
}

.borrar {
    background-color: #f5a425;
    border-radius: 50%;
    padding: 5px 10px;
    color: #fff;
    font-weight: 800;
}

.header-txt {
    padding: 0 200px;
    text-align: center;
}

.header-txt h1 {
    font-size: 70px;
    line-height: 80px;
    color: #fff;
    margin-bottom: 20px;
}

.header-txt p {
    font-size: 16px;
    color: #fff;
    margin-bottom: 20px;
}

.btn-1 {
    display: inline-block;
    background-color: #f5a425;
    color: #fff;
    padding: 13px 35px;
    border-radius: 25px;
    text-transform: capitalize;
    font-size: 16px;
}

.btn-1:hover {
    background-color: #d74801;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 10px;
}

.icon img {
    width: 30px;
}

.products {
    padding: 70px 0 0 0;
    text-align: center;
}

h2 {
    color: #000000;
    font-size: 40px;
    margin-bottom: 35px;
}

.products-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 35px;
}

.product img {
    width: 250px;
    border-radius: 12%;
}

.product h3 {
    font-size: 20px;
    color: #000;
    margin-bottom: 10px;
}

.product p {
    font-size: 16px;
    color: #000;
    margin-bottom: 10px;
}

.precio {
    color: #f5a425 !important;
}

.btn-2 {
    display: inline-block;
    padding: 8px 17px;
    border: 1px solid #f5a425;
    border-radius: 20px;
    color: #000;
}

.btn-2:hover {
    background-color: #f5a425;
}

.services {
    margin-top: 100px;
    padding: 70px 0;
    background-color: #000;
    text-align: center;
}

.services h2 {
    color: #fff;
}

.services-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 35px;
}

.service {
    background-color: #000;
    box-shadow: 0 0 20px rgb(255, 255, 255);
    padding: 35px;
    text-align: left;
}

.service h3 {
    font-size: 20px;
    color: #2D343C;
    margin-bottom: 10px;
}

hr {
    width: 100px;
    border: 2px solid #f5a425;
}

service p {
    font-size: 16px;
    color: #000000;
    margin-top: 15px;
}

.footer {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
}

.link h3 {
    color: #fff;
    font-size: 18px;
    margin-bottom: 15px;
}

.link a {
    font-size: 16px;
    color: #fff;
    margin-bottom: 10px;
    display: block;
}

@media(max-width:991px) {

    .menu {
        text-align: center;
        padding: 20px;
    }

    .menu label {
        text-align: center;
        display: initial;
    }

    .menu .navbar {
        text-align: center;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #2D343C;
        display: none;
    }

    .menu .navbar ul li {
        text-align: center;
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: initial;

        .logo {
            display: none;
        }
    }

    .header {
        min-height: 0vh;
    }

    .header-content {
        padding: 100px 30px;
    }

    .header-txt {
        padding: 0;
    }

    .products {
        padding: 30px;
    }

    .products-content {
        grid-template-columns: repeat(1, 1fr);
    }

    .services {
        padding: 30px;
        margin: 0;
    }

    .services-content {
        grid-template-columns: repeat(1, 1fr);
    }
}



#modoBtn {
    margin-top: 8px;
}

.dark-mode .link h3,
.dark-mode .link a,
.dark-mode *,
.dark-mode footer {
    color: #fff !important;
}

.dark-mode footer {
    background-color: #000;
}

footer {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
    flex-direction: column;
    text-align: center;
    padding: 20px 0;
}