body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f8f9fa;
    padding: 10px 0;
}

footer {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.bg-dark-nav {
    background-color: #001f3f;
    color: #fff;
}

.imu {
    color: #fff;
}

.bg-dark-nav .navbar-nav .nav-link {
    color: #fff;
}

.container {
    padding: 20px 0;
}

.container .bienvenida {
    text-align: center;
    color: #f5a425;
}

.container .h1 {
    text-align: center;
    color: #000;
}

.container p {
    color: #6c757d;
}

.table {
    width: 100%;
}

.table th,
.table td {
    border: 1px solid #dee2e6;
    padding: 8px;
}

.table th {
    background-color: #007bff;
    color: #fff;
}

.table td {
    color: #6c757d;
}

.container iframe {
    width: 100%;
    height: 400px;
}

.container h2 {
    color: #007bff;
}

.container ul,
.container ol {
    color: #6c757d;
}

.container form {
    max-width: 500px;
    margin: 0 auto;
}

.ant {
    text-align: right;
}

.container form .form-group {
    margin-bottom: 20px;
}

.container form label {
    color: #007bff;
}

.container form input[type="text"],
.container form input[type="email"],
.container form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 16px;
}

.container form button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.container form button[type="submit"]:hover {
    background-color: #0056b3;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav .navbar-brand {
    font-style: normal;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 800;
}

nav .amarillo {
    font-style: normal;
    color: #f5a425;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 800;
    float: left;
    line-height: 80px;
    padding-left: 60px;
}

header {
    background-color: #f8f9fa;
    padding: 10px 0;
}



.container {
    padding: 20px 0;
}



.container p {
    color: #6c757d;
}

.dark-mode {
    background-color: #222;
    color: #fff;
}

.dark-mode header {
    background-color: #333;
}

.dark-mode footer {
    background-color: #000;
}

#modoBtn {
    margin-top: 8px;
}

.iframe-content {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-bottom: 20px;
}

.imag {
    text-align: center;
}

/* Slider */

.main-banner {
    position: relative;
    max-height: 100%;
    overflow: hidden;
    margin-bottom: -7px;
}

#bg-video {
    min-width: 100%;
    min-height: 100vh;
    max-width: 100%;
    max-height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.shop-top-menu a:hover {
    color: #69bb7e !important;
}

#bg-video::-webkit-media-controls {
    display: none !important;
}

.video-overlay {
    position: absolute;
    background-color: rgba(22, 34, 57, 0.85);
    top: 0;
    left: 0;
    bottom: 7px;
    width: 100%;
}

.main-banner .caption {
    text-align: center;
    position: absolute;
    width: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.main-banner .caption h6 {
    margin-top: 0px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1px;
}

.main-banner .caption h2 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 64px;
    text-transform: uppercase;
    font-weight: 800;
    color: #fff;
    letter-spacing: 1px;
}

.main-banner .caption h2 em {
    font-style: normal;
    color: #f5a425;
    font-weight: 900;
}

.captions em {
    font-weight: bold;
    font-style: normal;
    color: #666;
    font-weight: 800;
}

.captions h1 {
    font-weight: bold;
    font-style: normal;
    text-align: center;
    color: #f5a425;
    font-size: 36px;
    font-weight: 800;
    line-height: 80px;
}

@media screen and (max-width: 1180px) {

    .main-banner .caption h6 {
        font-weight: 500;
    }

    .main-banner .caption h2 {
        font-size: 58px;
    }

}

@media screen and (max-width: 767px) {

    .main-banner .caption h6 {
        font-weight: 500;
    }

    .main-banner .caption h2 {
        font-size: 36px;
    }

}


#tabs {
    text-align: center;
}

#tabs ul {
    margin: 0;
    padding: 0;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0;
}

#tabs ul::after {
    clear: both;
    content: "";
    display: table;
}

#tabs ul li {
    display: block;
    font-weight: 400;
    font-size: 1.2em;
    letter-spacing: 1px;
    text-align: center;
}

#tabs ul li a {
    display: block;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
    outline: 0;
    padding-bottom: 30px;
    color: #f5a425;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
}

#tabs ul li a:after {
    transition: all 0.3s;
    width: 10px;
    height: 10px;
    background-color: #f5a425;
    content: '';
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 0;
}

#tabs ul li a:before {
    transition: all 0.3s;
    width: 25px;
    height: 25px;
    border: 2px solid transparent;
    background-color: transparent;
    content: '';
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -5px;
}

#tabs ul li span {
    display: block;
    margin-bottom: 0.75em;
}

#tabs ul .ui-tabs-active a {
    color: #f5a425;
}

#tabs ul .ui-tabs-active a:after {
    background-color: #f5a425;
    width: 15px;
    height: 15px;
}

#tabs ul .ui-tabs-active a:before {
    border-color: #f5a425;
}

#tabs h4 {
    margin-top: 60px;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;
    margin-bottom: 30px;
}

#tabs p {
    color: #fff;
    font-size: 15px;
    line-height: 28px;
}

.tabs-content {
    margin-top: 60px;
    text-align: left;
}

@media screen and (max-width: 767px) {

    .tabs-content {
        text-align: center;
    }

}

.tabs-content img {
    width: 100%;
    overflow: hidden;
}

.rwa {
    background-color: #f5a425;
    border-radius: 15%;
    border-color: #000;
}

.vermas {
    text-align: center;
}
.captionss em {
    font-weight: bold;
    font-style: normal;
    color: #aeaeae;
    font-weight: 800;
}

.captionss h1{
    font-weight: bold;
    font-style: normal;
    text-align: center;
    color: #f5a425;
    font-size: 36px;
    font-weight: 800;
    line-height: 80px;
}
.captionss .fn{
    color: #aeaeae;
}
/*////////////////FACTURA////////////*/
.fact {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container-title h1{
    font-weight: bold;
    font-style: normal;
    font-weight: 800;
    text-align: center;

}
.container-title em{
    font-weight: bold;
    font-style: normal;
    color:#f5a425;
    font-weight: 800;
    text-align: center;
}
.container-data{
    width: 100%;
    height: calc(100vh - 5rem);
    display: flex;
}
.container-form{
    width: 25%;
    height: fit-content;
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.6rem;
    text-align: center;
    background-color: #f5a425;
}
.h3{
    margin: 0.5rem;
    font-size: 1.5rem;
}
.input-nombre,
.input-apellido,
.input-cedula,
.input-pago {
    width: auto;
    height: auto;
    display: flex;
    margin: 0.5rem;
    justify-content: center;
    align-items: center;
}
.input-nombre label,
.input-apellido label,
.input-cedula label,
.input-pago label{
    width: 30%;
    text-align: start;
}
.input-nombre input,
.input-apellido input,
.input-cedula input,
.input-pago input{
    width: 80%;
    height: 1.7rem;
    border-radius: 0.3rem;
    border: 0;
    padding-left: 0.5rem;
}
.btn-agregar{
    margin-top: 0.5rem;
    padding: 0.3rem 1.5rem;
    border-radius: 0.5rem;
    border: 0;
    background-color: #fff;
    font-size: 1rem;
    transition: 0.5s;
}
.btn-agregar:hover{
    background-color: #666;
    transition: 0.5s;
    color: #fff;
}
.container-data-list{
    width: 75%;
    height: fit-content;
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.6rem;
    text-align: center;
    background-color: #f5a425;
}
.table-usuarios{
    width: 100%;
    border-radius: 0.3rem;
}
.table-usuarios thead{
    height: 1.5rem;
    border-color: 2px solid ;
    border-radius: 0.3rem;
}
.btn {
    width: 40%;
    height: 2rem;
    margin: 0.3rem;
    border-radius: 0.2rem;
    border: 0;
    outline: none;
    background-color: white;
}
.btn:hover{
    background-color: #666;
    transition: 0.5s;
    color: #ffff;
}